.git/
.github/
.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
docs/
inst/doc/
pkgdown/
src/.cargo/
src/addr.so
src/entrypoint.o
src/rust/target/
target/
NAD_r19.zip
NAD_r19.gdb/
NAD_r22.zip
NAD_r22.gdb/
inst/CAGISOpenDataSpring2024.gdb/
